@page
@{
    ViewData["Title"] = "Profile page";
}
@using System.Security.Claims
@model WebClientR.Pages.Profile


<div class="text-center">
    <h1 class="display-4">@User.Identity.Name</h1>
    <p class="display-2">@User.Claims.FirstOrDefault(t => t.Type == ClaimTypes.Email)?.Value</p>
    <img src="@User.Claims.FirstOrDefault(t => t.Type == "picture")?.Value" />
    
</div>